<head>
  <link rel="stylesheet" type="text/css" href="/css/chat/chatPage.css" />
</head>
<h1>Chat with AI</h1>

<%- include('partials/chatSettings.ejs') %>

<form id="chat-form">
  <textarea id="prompt" name="prompt" placeholder="Message the AI" rows="1" required></textarea>
  <input type="hidden" id="response-mode" name="mode" value="default">
  <button type="submit">Send</button>
</form>

<div id="chat-output"></div>

<!-- UI modification related scripts -->
<%- include('partials/ui/chatUIMessages.ejs') %>
<%- include('partials/ui/chatUIMarkup.ejs') %>

<!-- Message parsing related scripts -->
<%- include('partials/chatProcessing.ejs') %>
<%- include('partials/chatStream.ejs') %>